/* Navbar */
.navbar {
    background-color: #FFFAF4;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-family: Pumpkin Soup;
    font-size: 55px;
}
.navbar-brand, .nav-link {
    color: #D83C3C !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* Tes */
.tes {
    background-color: #CB9C63;
    height: 250px;
} 

.tes .deskripsi-title {
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 45px;
    color: #FFFAF4;
} 

.tes .line-deskripsi {
    background-color: #D83C3C;
    height:2px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.tes .deskripsi-materi {
    margin-top: 25px;
    font-family: Arial;
    font-size: 20px;
    color: #FFFAF4;
    margin-bottom: 30px;
}

/* Simulasi Tes */
.simulasi-tes {
    background-color: #CB9C63;
    height: 1000px
}

.simulai-tes .simulasi-text {
    font-style: normal;
    font-size: 10px;
}



/* Footer */
.footer {
    background-color: #D4B085;
    height: 300px;
}

.footer .footer-title {
    color: #D83C3C;
    font-weight: bold;
    font-size: 35px;
    margin: 40px 0px 25px;
}

.footer .footer-text {
    color: #D83C3C;
    font-weight: normal;
    font-size: 25px;
    margin: 10px 20px 10px;
}

.footer .footer-content-a {
    color: #D83C3C;
    font-weight: normal;
    font-size: 25px;
    margin: 15px -5px 10px;
}

.footer .footer-content-b {
    color: #D83C3C;
    font-weight: normal;
    font-size: 25px;
    margin: 15px 0px 10px;
}

.footer img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: 10px
}

.footer .khusus img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px
}

/* Copyright */
.copyright {
    background-color: #64441A;
    height: 50px;
}

.copyright .copyright-text {
    margin-top: 15px;
    margin-left: 55px;
    font-style: normal;
    color: #000000;
    font-size: 20px;
}

.copyright .copyright-text span {
    font-family: Pumpkin Soup;
}

.copyright img {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.copyright h2 {
    text-align: right;
}

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #D83C3C;
    border-color: #D83C3C;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #D83C3C;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px; 
    }