/* Navbar */
.navbar {
    background-color: #FFFAF4;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-family: Pumpkin Soup;
    font-size: 55px;
}

.navbar-brand,
.nav-link {
    color: #D83C3C !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* Deskripsi */
.materi {
    height: 550px;
    background-color: #CB9C63;
}

.materi .container .deskripsi-title {
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 45px;
    color: #FFFAF4;
}

.materi .container .line-deskripsi {
    background-color: #D83C3C;
    height:2px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.materi .container .deskripsi-materi {
    margin-top: 25px;
    font-family: Arial;
    font-size: 20px;
    color: #FFFAF4;
    margin-bottom: 30px;
}

/* Pilihan Materi */
.materi .btn {
    width: 1050px;
    text-align: left;
}

.materi .dropdown-menu a {
    color: #D83C3C;
}

.materi .pemanasan-global {
    margin-bottom: 20px;
}

.materi .water-regulation {
    margin-bottom: 20px;
}

.materi .environmental-change {
    margin-bottom: 20px;
}

.materi .renewable-energy {
    margin-bottom: 20px;
}

.materi .nuclear-production {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #D4B085;
    height: 300px;
}

.footer .footer-title {
    color: #D83C3C;
    font-weight: bold;
    font-size: 25px;
    margin: 40px 0px 25px;
}

.footer .footer-text {
    color: #D83C3C;
    font-weight: normal;
    font-size: 20px;
    margin: 10px 20px 10px;
}

.footer .footer-content-a {
    color: #D83C3C;
    font-weight: normal;
    font-size: 20px;
    margin: 15px -5px 10px;
}

.footer .footer-content-b {
    color: #D83C3C;
    font-weight: normal;
    font-size: 20px;
    margin: 15px 0px 10px;
}

.footer img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: 10px
}

.footer .khusus img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px
}

/* Copyright */
.copyright {
    background-color: #64441A;
    height: 40px;
}

.copyright .copyright-text {
    margin-top: 10px;
    margin-left: 55px;
    font-style: normal;
    color: #000000;
    font-size: 15px;
}

.copyright .copyright-text span {
    font-family: Pumpkin Soup;
}

.copyright img {
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.copyright h2 {
    text-align: right;
    margin-right: -180px;
}

.copyright h3 {
    text-align: right;
    margin-right: 15px;
}

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #D83C3C;
    border-color: #D83C3C;
}

.tarik {
    border-radius: 5px;
    background-color: #FFFAF4;
    border-color: #FFFAF4;
    width: 1050px;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #D83C3C;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }